.envrc
/bin/
/pkg/
/vendor/
**/*.swp
.idea/
.vscode/
contrib/gdfeeder/processed/*.csv
/data/
/tmp/
*.pyc
mktsdb/
marketstore
*.exe

# Python Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
